Which sites have no egg data? Please answer this question using all three techniques demonstrated in class. In doing so, you will need to work with the Bird_eggs table, the Site table, or both. As a reminder, the techniques are:

Using a Code NOT IN (subquery) clause.

In [ ]:
SELECT Code FROM Site
    WHERE Code NOT IN (SELECT Site FROM Bird_eggs)
    ORDER BY Code;


Using an outer join with a WHERE clause that selects the desired rows.

In [ ]:
--  Using an outer join with a WHERE clause that selects the desired rows. 
SELECT Code FROM Site
    LEFT JOIN Bird_eggs ON Code = Site
    WHERE Site IS NULL AND Code IS NOT NULL
    ORDER BY Code;

Caution: make sure your IS NULL test is performed against a column that is not ordinarily allowed to be NULL. You may want to consult the database schema to remind yourself of column declarations.

Using the set operation EXCEPT.

In [ ]:
-- Use set operation EXCEPT
SELECT Code FROM Site
    EXCEPT (SELECT Site FROM Bird_eggs)
    ORDER BY Code;


Add an ORDER BY clause to your queries so that all three produce the exact same result:
```
┌─────────┐
│  Code   │
│ varchar │
├─────────┤
│ barr    │
│ burn    │
│ bylo    │
│ cakr    │
│ cari    │
│ chau    │
│ coat    │
│ colv    │
│ iglo    │
│ ikpi    │
│ lkri    │
│ made    │
│ nome    │
│ prba    │
├─────────┤
│ 14 rows │
└─────────┘
```
Submit your SQL.