You’re reading up on how eggs are aged by floating them in water 1:

when you receive an urgent phone call from a colleague who says they just discovered that an observer, who worked at the “nome” site between 1998 and 2008 inclusive, had been floating eggs in salt water and not freshwater. The density of salt water being different, those measurements are incorrect and need to be adjusted. The colleague says that this incorrect technique was used on exactly 36 nests, but before you can ask who the observer was, the phone is disconnected. Who made this error? That is, looking at nest data for “nome” between 1998 and 2008 inclusive, and for which egg age was determined by floating, can you determine the (full) name of the observer who observed exactly 36 nests? Please submit your SQL. Your SQL should return exactly one row, the answer. That is, your query should produce:

```
┌──────────────────┬───────────────────┐
│       Name       │ Num_floated_nests │
│     varchar      │       int64       │
├──────────────────┼───────────────────┤
│ (hidden)         │                36 │
└──────────────────┴───────────────────┘
```

Credit: 50 points

In [ ]:
SELECT Name, Num_floated_nests FROM
    (SELECT Observer, COUNT(Nest_ID) AS Num_floated_nests
     FROM Bird_nests
        WHERE Site = 'nome'
        AND Date_found BETWEEN '1998-01-01' AND '2008-12-31'
        AND Agemethod = 'float'
        Group By Observer
        Having COUNT(Nest_ID) == 36)
JOIN Personnel ON Observer = Abbreviation;